<%- block('commentIndex', ' <script src="/js/comment/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include ../nav2 %>
			<h3>
			Comment
			</h3>
			<div class="tabbable" id="tabs-433253">
				<ul class="nav nav-tabs">
					<% var active = 'active'; %>
					<% forums.forEach(function(forum){  %>
					<li class="<%= active %>" id="<%= forum.id %>"><a href="#<%= forum.title %>"  data-toggle="tab"><%= forum.title %></a></li>
					<% active = '' %>
					<% }); %>
				</ul>
				<div class="tab-content">
					<% active = 'active'; %>
					<% forums.forEach(function(forum){  %>
					<div class="tab-pane <%= active %>" id="<%= forum.title %>">
						<form class="form-horizontal createForumForm" action="" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="forum" value="<%= forum.id %>" />

								
							</fieldset>
						</form>
						<table class= "table">
							<thread>
								<tr>
								</tr>
							</thread>
							<tbody>
								<% var i=1; %>
								<% comments.forEach(function(comment){%>
								<tr class="material-row" id="<%= forum.id %>">
									<td>
										<%= i %>
									</td>
									<td>
										<%= comment.title %>
									</td>
									<td>
										<%= comment.createdAt %>
									</td>
									<td>
										<%= comment.updatedAt %>
									</td>			
									<td>
										<!--delete button-->
										<button class="btn btn-danger deleteButton"
										value= "<%= comment.id %>" name="<%= comment.title %>">
										Delete</button>
									</td>			
								</tr>
								<% i++; %>
								<% });%>
							</tbody>
						</table>
					</div>
					<% active = '' %>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>
