<%- block('userNew', ' <script src="/js/user/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<% include ../nav %>
	<div class="starter-template">
		<div class="container">
			<form class="form-horizontal addUserForm" action="" method="post">
				<fieldset>
					<!-- Form Name -->
					<input type="hidden" name="userid" value="<%= nN %>" />
					<legend>Create a Personel</legend>
					<table>
					<tr><td>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="username">Username *</label>
						<div class="controls">
							<input id="username" name="username" type="text" placeholder="Username" class="input-xlarge" required="">
							<p class="help-block">7 - 12 Characters</p>
						</div>
					</div>
					
					</td><td>&nbsp;</td><td>
					<!-- Password input-->
					<div class="control-group">
						<label class="control-label" for="password">Password *</label>
						<div class="controls">
							<input id="password" name="password" type="password" placeholder="Password" class="input-xlarge" required="">
							<p class="help-block">7 - 12 Characters</p>
						</div>
					</div>
					</td></tr>
					<tr><td>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="firstname">First Name *</label>
						<div class="controls">
							<input id="firstname" name="firstname" type="text" placeholder="First Name" class="input-xlarge" required="">
							
						</div>
					</div>
					</td><td>&nbsp;</td><td>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="lastname">Last Name *</label>
						<div class="controls">
							<input id="lastname" name="lastname" type="text" placeholder="Last Name" class="input-xlarge" required="">
							
						</div>
					</div>
					</td></tr>
					<tr><td>
					<!-- Select Basic -->
					<div class="control-group">
						<label class="control-label" for="Gender">Gender *</label>
						<div class="controls">
							<select id="gender" name="gender" class="input-xlarge">
								<option>Male</option>
								<option>Female</option>
							</select>
						</div>
					</div>
					</td><td>&nbsp;</td><td>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="birthday">Birthday</label>
						<div class="controls">
							<input id="birthday" name="birthday" type="date" placeholder="Birthday" class="input-xlarge">
							
						</div>
					</div>
					</td></tr>
					<tr><td>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input id="email" name="email" type="text" placeholder="Email" class="input-xlarge" required="">
							
						</div>
					</div>
					</td><td>&nbsp;</td><td>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="tel">Tel.</label>
						<div class="controls">
							<input id="tel" name="tel" type="text" placeholder="Telephone Number" class="input-xlarge">
							
						</div>
					</div>
					</td></tr>
					<tr><td>
					<!-- Select Basic -->
					<div class="control-group">
						<label class="control-label" for="university">University *</label>
						<div class="controls">
							<select id="university" name="university" class="input-xlarge">
							<% universities.forEach(function(university){ %>
							<option value="<%= university.id %>"><%= university.name %></option>
								<% }) %>
							</select>
						</div>
					</div>
					</td><td>&nbsp;</td><td>
					<!-- Select Basic -->
					<div class="control-group">
						<label class="control-label" for="faculty">Faculty *</label>
						<div class="controls">
							<select id="faculty" name="faculty" class="input-xlarge">
								<% faculties.forEach(function(faculty){ %>
							<option value="<%= faculty.id %>"><%= faculty.name %></option>
								<% }) %>
							</select>
						</div>
					</div>
					</td></tr>
					<tr><td>
					<div>
						<label for="type">Pick a type **</label>
						<div class="controls">
							<select id="type" name="type" class="form-control">
							<option value="Admin">Admin</option>
							<option value="Instructor">Instructor</option>
							<% if(!mu){ %>
							<option value="Master">Master</option>
							<% } %>
							</select>
						</div>
					</div>
					</td></tr>
					</table>
					
					
					<!-- Button (Double) -->
					<div class="control-group">
						<label class="control-label" for="submit"></label>
						<div class="controls">
							<input type="submit" id="submit" name="submit" value="Create" class="btn btn-success"/>
							<input type="reset" class="btn btn-danger" />
						</div>
					</div>
					<div class="modal-footer">
	
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	</div><!-- /.container -->
