<%- block('userNew', ' <script src="/js/user/new.js"></script>') %>
<div class="container">
	<div class="starter-template">
		<div class="container">
			<form class="form-horizontal" action="/user/create" method="POST">
				<fieldset>
					<!-- Form Name -->
					<legend>Create a Student</legend>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="student_id">Student ID</label>
						<div class="controls">
							<input id="student_id" name="student_id" type="text" placeholder="Student ID" class="input-xlarge" required="">
							
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="firstname">First Name</label>
						<div class="controls">
							<input id="firstname" name="firstname" type="text" placeholder="First Name" class="input-xlarge" required="">
							
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="lastname">Last Name</label>
						<div class="controls">
							<input id="lastname" name="lastname" type="text" placeholder="Last Name" class="input-xlarge" required="">
							
						</div>
					</div>
					<!-- Select Basic -->
					<div class="control-group">
						<label class="control-label" for="Gender">Gender</label>
						<div class="controls">
							<select id="gender" name="gender" class="input-xlarge">
								<option>Male</option>
								<option>Female</option>
							</select>
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="birthday">Birthday</label>
						<div class="controls">
							<input id="birthday" name="birthday" type="date" placeholder="Birthday" class="input-xlarge">
							
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="username">Username</label>
						<div class="controls">
							<input id="username" name="username" type="text" placeholder="Username" class="input-xlarge" required="">
							
						</div>
					</div>
					<!-- Password input-->
					<div class="control-group">
						<label class="control-label" for="password">Password</label>
						<div class="controls">
							<input id="password" name="password" type="password" placeholder="Password" class="input-xlarge" required="">
							<p class="help-block">7 - 12 Characters</p>
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input id="email" name="email" type="text" placeholder="Email" class="input-xlarge" required="">
							
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="tel">Tel.</label>
						<div class="controls">
							<input id="tel" name="tel" type="text" placeholder="Telephone Number" class="input-xlarge">
							
						</div>
					</div>
					<!-- Select Basic -->
					<div class="control-group">
						<label class="control-label" for="university">University</label>
						<div class="controls">
							<select id="university" name="university" class="input-xlarge">
							<% universities.forEach(function(university){ %>
							<option value="<%= university.id %>"><%= university.name %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<!-- Select Basic -->
					<div class="control-group">
						<label class="control-label" for="faculty">Faculty</label>
						<div class="controls">
							<select id="faculty" name="faculty" class="input-xlarge">
								<% universities[0].faculties.forEach(function(faculty){ %>
							<option value="<%= faculty.id %>"><%= faculty.name %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="major">Major</label>
						<div class="controls">
							<input id="major" name="major" type="text" placeholder="Major" class="input-xlarge">
							
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="year">Year</label>
						<div class="controls">
							<input id="year" name="year" type="text" placeholder="Year" class="input-xlarge">
							<p class="help-block">(1, 2 ,3 ,4)</p>
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="section">Section</label>
						<div class="controls">
							<input id="section" name="section" type="text" placeholder="Section" class="input-xlarge">
							
						</div>
					</div>
					<!-- Button (Double) -->
					<div class="control-group">
						<label class="control-label" for="submit"></label>
						<div class="controls">
							<input id="submit" name="submit" class="btn btn-success">Submit</input>
							<button id="reset" name="reset" class="btn btn-danger">Reset</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	</div><!-- /.container -->
	<script src="/js/user/new.js"></script>
	<!--div class="container-fluid">
  <h1>Users</h1>
  <% users.forEach(function(user){ %>
  <h2><%= user.firstname %> <%= user.lastname %></h2>
  <p>ID: <%= user.user_id %></p>
  <p>Gender: <%= user.gender %></p>
  <p>Year: <%= user.year %></p>
  <p>Section: <%= user.section %></p>
  <p>University: <%= user.university.name %></p>
  <p>Faculty: <%= user.faculty.name %></p>
  <%  if(user.major){ %>
  <p>Major: <%= user.major.name %></p>
  <% } %>
  <% }) %>
</div-->

