<%- block('classIndex', ' <script src="/js/class/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include ../nav %>
			<h3>
			Cancel/Make-up Management
			</h3>
			<div class="tabbable" id="tabs-433253">
				<ul class="nav nav-tabs">
					<% var active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<li class="<%= active %>" id="<%= course.id %>"><a href="#<%= course.name %>"  data-toggle="tab"><%= course.name %></a></li>
					<% active = '' %>
					<% }); %>
				</ul>
				<div class="tab-content">
					<% active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<div class="tab-pane <%= active %>" id="<%= course.name %>">
						
						<form class="form-horizontal addClassForm" action="" method="post">
							<fieldset>
								<input type="hidden" name="course" value="<%= course.id %>" />
							<!-- add cancel makeup -->
								<div class="panel-body">
									<div>
										<label for="section">Pick a class section:</label>
										<div class="controls">
											<select id="section" name="section" class="form-control">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											</select>

										</div>
									</div>

									<div>
									<table>
									<tr>
										<td>
										<label for="date_cancel">Cancel date:</label>
										<div class="controls">
										    <div class="input-append date">
										    <input id="date_cancel" name="date_cancel" class="span2 form-control" type="date"/>
										    </div>
										</div>
										</td>
										<td>
										<label for="c_h">hour:</label>
										<div class="controls">
										    <select id="c_h" name="c_h" class="form-control">
											<% for(var i=0; i<24; i++){%>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</div>
										</td>
										<td>
										<label for="c_m">minute:</label>
										<div class="controls">
										    <select id="c_m" name="c_m" class="form-control">
											<% for(var i=0; i<60; i++){%>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</div>
										</td>
									</tr>
									</table>
									</div>

									<div>
									<table>
									<tr>
										<td>
										<label for="date_makeup">Make-up date:</label>
										<div class="controls">
										    <div class="input-append date">
										    <input id="date_makeup" name="date_makeup" class="span2 form-control" type="date"/>
										    </div>
										</div>
										</td>
										<td>
										<label for="m_h">hour:</label>
										<div class="controls">
										<% var i=0; %>
										    <select id="m_h" name="m_h" class="form-control">
											<% for(i=0; i<24; i++){%>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</div>
										</td>
										<td>
										<label for="m_m">minute:</label>
										<div class="controls">
										<% var i=0; %>
										    <select id="m_m" name="m_m" class="form-control">
											<% for(i=0; i<60; i++){%>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</div>
										</td>
									</tr>
									</table>
									</div>


									<div>
										<label for="location">Location:</label>
										<div class="controls">
										    <input id="location" name="location" class="span2 form-control" type="text" />
										</div>
									</div>
			
									<div>
									<input type="checkbox" id="yup" name="yup" value="send" checked="true">Send a Notification<br>
									</div>

							    	</div>
								<!-- Button (Double) -->
								<label class="control-label" for="submit"></label>
								<div class="controls">
									<input type="submit" id="submit" name="submit" value="Add" class="btn btn-success"/>
									<input type="reset" class="btn btn-danger" />
								</div>
							<!-- -->
							</fieldset>
						</form>
						<h1><%= course.course_code %> - <%= course.name %></h1>
						<h3>Cancel Make-up class</h3>
						<table class= "table">
							<thread>
								<tr>
									<th>#</th>
									<th>Section</th>
									<th>Cancel date</th>
									<th>Make-up Date</th>
									<th>Location</th>
									<th>Action</th>
								</tr>
							</thread>
							<tbody>
								<% var i=1; %>
								<% classes.forEach(function(c){%>
								<% if(c.course.name == course.name) {%>
								<tr class="material-row" id="<%= c.id %>">
									<td>
										<%= i %>
									</td>
									<td>
										<%= c.section %>
									</td>
									<td>
										<%= c.datetime_cancel.toUTCString() %>
									</td>
									<td>
										<%= c.datetime_makeup.toUTCString() %>
									</td>
									<td>
										<%= c.location %>
									</td>				
									<td>
										<button class="btn btn-danger deleteButton"
										value= "<%= c.id %>" name="<%= c.course.course_code %>">
										Delete</button>
									</td>				
								</tr>
								<% i++; %>
								<% } %>
								<% });%>
							</tbody>
						</table>
						</div>
					<% active = '' %>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>
