<%- block('commentIndex', ' <script src="/js/forum/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include ../nav2 %>
			<h3>
			Comment
			</h3>
			<div class="tabbable" id="tabs-433253">
				<div class="tab-content">
						<table class= "table">
							<thread>
								<tr>
								<h4>Topic: <%= topics.title %></h4>
								</tr>
							</thread>
							<tbody>
								<% var i=1; %>
								<% forums.forEach(function(comment){%>
								<tr class="material-row" id="<%= comment.id %>">
									<td width="800">
										<%= comment.message %>
									</td>
									<td>
										Post by:<%= comment.user_name %>
									</td>
									<td>
										<h5><%= comment.createdAt.toUTCString() %></h5>
									</td>
									<td>
										<!--delete button-->
										<button class="btn btn-danger deleteButtonC"
										value= "<%= comment.id %>" name="<%= comment.title_id %>">
										Delete</button>
									</td>			
								</tr>
								<% i++; %>
								<% });%>
							</tbody>
						</table>
					</div>
			</div>
			<form class="form-horizontal addCommentForm" action="" method="post">
			   	 <fieldset>
					<input type="hidden" name="forum" id="forum" value= "<%= topics.id %>"/>
					<label class="control-label" for="message">Message: </label>
					<textarea type="text" id="message" name="message" class="form-control"></textarea>
					<div class="controls">
						<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
					</div>
			    	 </fieldset>
				</form>
		</div>
	</div>
</div>
