<%- block('forumIndex', ' <script src="/js/forum/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include ../nav %>
			<h3>
			Forum
			</h3>
			<div class="tabbable" id="tabs-433253">
				<ul class="nav nav-tabs">
					<% var active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<li class="<%= active %>" id="<%= course.id %>"><a href="#<%= course.name %>"  data-toggle="tab"><%= course.name %></a></li>
					<% active = '' %>
					<% }); %>
				</ul>
				<div class="tab-content">
					<% active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<div class="tab-pane <%= active %>" id="<%= course.name %>">
						<form class="form-horizontal createForumForm" action="" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="course" value="<%= course.id %>" />
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary forumm" data-toggle="modal" data-id="<%= course.id %>">Create Topic</button>

								
							</fieldset>
						</form>
						<table class= "table">
							<thread>
								<tr>
									<th>#</th>
									<th>Forum title </th>
									<th>Description </th>
									<th>Create at</th>
									<th>Last updated</th>
									<th>Action</th>
								</tr>
							</thread>
							<tbody>
								<% var i=1; %>
								<% forums.forEach(function(forum){%>
								<% if(forum.course.name == course.name) {%>
								<tr class="material-row" id="<%= forum.id %>">
									<td>
										<%= i %>
									</td>
									<td>
										<%= forum.title %>
									</td>
									<td>
										<%= forum.description %>
									</td>
									<td>
										<%= forum.createdAt.toUTCString() %>
									</td>
									<td>
										<%= forum.updatedAt.toUTCString() %>
									</td>			
									<td>
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-success comme" 											data-toggle="modal" data-id="<%= forum.id %>">
			  							See Comments</button>
										<!--delete button-->
										<button class="btn btn-danger deleteButton"
										value= "<%= forum.id %>" name="<%= forum.title %>">
										Delete</button>
									</td>			
								</tr>
								<% i++; %>
								<% } %>
								<% });%>
							</tbody>
						</table>
					</div>
					<% active = '' %>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- forum Modal -->

<div class="modal fade" id="forumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Create Topic</h4>
			  
			  </div>
			      <div class="modal-body">
				<form class="form-horizontal addForumForm" action="" method="post">
			   	 <fieldset>
					<input type="hidden" name="course" id="course" value=""/>
					<label class="control-label" for="title">Title: </label>
					<input type="text" id="title" name="title" class="form-control"/>
					<label class="control-label" for="descrition">Description: </label>
					<textarea type="text" id="description" name="description" class="form-control"></textarea>
					<div class="controls">
						<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
						<input type="reset" class="btn btn-danger" />
					</div>
			    	 </fieldset>
				</form>
			 </div>
		</div>
	</div>
</div>


