<%- block('materialIndex', ' <script src="/js/material/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include ../nav %>
			<h3>
			Material Management
			</h3>
			<div class="tabbable" id="tabs-433253">
				<ul class="nav nav-tabs">
					<% var active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<li class="<%= active %>" id="<%= course.id %>"><a href="#<%= course.name %>"  data-toggle="tab"><%= course.name %></a></li>
					<% active = '' %>
					<% }); %>
				</ul>
				<div class="tab-content">
					<% active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<div class="tab-pane <%= active %>" id="<%= course.name %>">
						<form class="form-horizontal" id="uploadForm" action="" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="course" value="<%= course.id %>" />
								<div>
									<input type="checkbox" id="yup" name="yup" value="send" checked="true">Send a Notification<br>
								</div>
								<!-- File Button -->
								<div class="control-group">
									<label class="control-label" for="material">Upload Materials</label>
									<div class="controls">
										<input name="material" class="form-control" type="file" multiple accept="application/pdf" />
									</div>
								</div>

								<!-- Progress Bar -->
								<div class="progress" style="display:none;">
									<div class="progress-bar" role="progressbar" aria-valuetransitiongoal="75" aria-valuenow="75" style="width: 0%;display:block;"></div>
								</div>
								<div>
									<button class="btn btn-danger" id="cancelUpload" style="display:none;">Cancel Upload</button>
								</div>
								<!-- Button (Double) -->
								<label class="control-label" for="submit"></label>
								<div class="controls">
									<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
									<input type="reset" class="btn btn-danger" />
								</div>
								
							</fieldset>
						</form>
						<table class="table">
							<thead>
								<tr>
									<th>
										#
									</th>
									<th>
										Material Name
									</th>
									<th>
										Upload at
									</th>
									<th>
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								<% var i = 1; %>
								<% materials.forEach(function(material){ %>
								<% if(material.course.name == course.name) {%>
								<tr class="material-row" id="<%= material.id %>">
									<td>
										<%= i %>
									</td>
									<td>
										<%= material.name %>
									</td>
									<td>
										<%= material.createdAt.toUTCString() %>
									</td>
									<td>
										<button class="btn btn-danger deleteButton" value="<%= material.id %>" name="<%= material.name %>">Delete</button>
									</td>
								</tr>
								<% i++; %>
								<% } %>
								<% }); %>
							</tbody>
						</table>
					</div>
					<% active = '' %>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>
