<%- block('masterIndex', ' <script src="/js/master/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include ../nav %>
			<h3>
			Personel Controller
			</h3>
				<table class= "table">
					<thread>
						<tr>
						</tr>
					</thread>
					<tbody>
						<% if(req.user.type == "Instructor"){%>
							<h2>This area is restrict for Administrator uses only</h2>
						<%}%>
						<% if(req.user.type == "Admin" || req.user.type == "Master"){%>
						<% var i=1; %>
						<% users.forEach(function(u){%>
						<tr class="material-row" id="<%= u.id %>">
							<td>
								<%= i %>
							</td>
							<td>
								<%= u.user_id %>
							</td>
							<td>
								<%= u.firstname %>
							</td>
							<td>
								<%= u.lastname %>
							</td>
							<td>
								<%= u.updatedAt.toUTCString() %>
							</td>			
						<td>
							<!--delete button-->
							<button class="btn btn-danger deleteButton"
							value= "<%= u.id %>" name="<%= u.username %>">
							Delete</button>
						</td>			
					</tr>
					<% i++; %>
					<% });%>
					<%}%>
				</tbody>
			</table>
		</div>
	</div>
</div>
