<%- block('assignmentIndex', ' <script src="/js/assignment/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include ../nav %>
			<h3>
			Assignment Management
			</h3>
			<div class="tabbable" id="tabs-433253">
				<ul class="nav nav-tabs">
					<% var active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<li class="<%= active %>" id="<%= course.id %>"><a href="#<%= course.name %>"  data-toggle="tab"><%= course.name %></a></li>
					<% active = '' %>
					<% }); %>
				</ul>
				<div class="tab-content">
					<% active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<div class="tab-pane <%= active %>" id="<%= course.name %>">
						<form class="form-horizontal" id="uploadForm" action="" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="course" value="<%= course.id %>" />
								<!-- File Button -->
								<div class="panel-body">
									<div>
										<label for="title">Title:</label>
										<div class="controls">
										<input type="text" id="title" name="title" class="form-control"/>
										</div>
									</div>
									<div>
										<label for="description">Description:</label>
										<div class="controls">
										<textarea type="text" id="description" name="description" class="form-control"></textarea>
										</div>
									</div>
									<div>
									<table>
									<tr>
										<td>
										<label for="submit_date">Submit date:</label>
										<div class="controls">
										    <div class="input-append date">
										    <input id="submit_date" name="submit_date" class="span2 form-control" type="date"/>
										    </div>
										</div>
										</td>
										<td>
										<label for="s_h">hour:</label>
										<div class="controls">
										    <select id="s_h" name="s_h" class="form-control">
											<% for(var i=0; i<24; i++){%>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</div>
									  </td>								
										<td>
										<label for="s_m">minute:</label>
										<div class="controls">
										    <select id="s_m" name="s_m" class="form-control">
											<% for(var i=0; i<60; i++){%>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</div>
										</td>
									</tr>
									</table>
									</div>
								</div>
								<div>
									<input type="checkbox" id="yup" name="yup" value="send" checked="true">Send a Notification<br>
								</div>
								<div class="control-group">
									<label class="control-label" for="assignment">Upload Assignments</label>
									<div class="controls">
										<input name="assignment" class="form-control" type="file" multiple accept="application/pdf" />
									</div>
								</div>
						

								<!-- Progress Bar -->
								<div class="progress" style="display:none;">
									<div class="progress-bar" role="progressbar" aria-valuetransitiongoal="75" aria-valuenow="75" style="width: 0%;display:block;"></div>
								</div>
								<div>
									<button class="btn btn-danger" id="cancelUpload" style="display:none;">Cancel Upload</button>
								</div>
								<!-- Button (Double) -->
								<label class="control-label" for="submit"></label>
								<div class="controls">
									<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
									<input type="reset" class="btn btn-danger" />
								</div>
								
							</fieldset>
						</form>
						<h1><%= course.course_code %> - <%= course.name %></h1>
						<h3>Assignments</h3>
						<table class="table">
							<thead>
								<tr>
									<th>
										#
									</th>
									<th>
										Assignment Name
									</th>
									<th>
										Upload at
									</th>
									<th>
										Submit date
									</th>
									<th>
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								<% var i = 1; %>
								<% assignments.forEach(function(assignment){ %>
								<% if(assignment.course.name == course.name) {%>
								<tr class="material-row" id="<%= assignment.id %>">
									<td>
										<%= i %>
									</td>
									<td>
										<%= assignment.title %>
									</td>
									<td>
										<%= assignment.createdAt.toUTCString() %>
									</td>
									<td>
										<%= assignment.submit_datetime.toUTCString() %>
									</td>
									<td>
										<button class="btn btn-danger deleteButton" value="<%= assignment.id %>" name="<%= assignment.name %>">Delete</button>
									</td>
								</tr>
								<% i++; %>
								<% } %>
								<% }); %>
							</tbody>
						</table>
					</div>
					<% active = '' %>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>
