<%- block('eventIndex', ' <script src="/js/event/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include ../nav %>
			<h3>
			Event Management
			</h3>
			<div class="tabbable" id="tabs-433253">
				<ul class="nav nav-tabs">
					<% var active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<li class="<%= active %>" id="<%= course.id %>"><a href="#<%= course.name %>"  data-toggle="tab"><%= course.name %></a></li>
					<% active = '' %>
					<% }); %>
				</ul>
				<div class="tab-content">
					<% active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<div class="tab-pane <%= active %>" id="<%= course.name %>">
						<form class="form-horizontal addEventForm" action="" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="course" value="<%= course.id %>" />
								<!-- Event field -->
								<div class="panel-body">
									<div>
										<label for="name">Title:</label>
										<div class="controls">
										<input type="text" id="name" name="name" class="form-control"/>
										</div>
									</div>

									<div>
									<table>
									<tr>
										<td>
										<label for="date_start">Start date:</label>
										<div class="controls">
										    <div class="input-append date">
										    <input id="date_start" name="date_start" class="span2 form-control" type="date"/>
										    </div>
										</div>
										</td>
										<td>
										<label for="s_h">hour:</label>
										<div class="controls">
										    <select id="s_h" name="s_h" class="form-control">
											<% for(var i=0; i<24; i++){%>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</div>
										</td>
										<td>
										<label for="s_m">minute:</label>
										<div class="controls">
										    <select id="s_m" name="s_m" class="form-control">
											<% for(var i=0; i<60; i++){%>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</div>
										</td>
									</tr>
									</table>
									</div>
									
									<div>
									<table>
									<tr>
										<td>
										<label for="date_end">End date:</label>
										<div class="controls">
										    <div class="input-append date">
										    <input id="date_end" name="date_end" class="span2 form-control" type="date" />
										    </div>
										</div>
										</td>
										<td>
										<label for="e_h">hour:</label>
										<div class="controls">
										    <select id="e_h" name="e_h" class="form-control">
											<% for(var i=0; i<24; i++){%>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</div>
										</td>
										<td>
										<label for="e_m">minute:</label>
										<div class="controls">
										    <select id="e_m" name="e_m" class="form-control">
											<% for(var i=0; i<60; i++){%>
											<option value="<%= i %>"><%= i %></option>
											<% } %>
										</div>
										</td>
									</tr>
									</table>
									</div>

									<div>
										<label for="description">Description:</label>
										<div class="controls">
											<textarea id="description" name="description" class="span2 form-control"></textarea>
										</div>
									</div>

									<div>
										<label for="type">Pick an event type:</label>
										<div class="controls">
											<select id="type" name="type" class="form-control">
											<option value="exam">Examination</option>
											<option value="seminar">Seminar</option>
											<option value="conference">Conference</option>
											<option value="faculty-activity">Faculty Activity</option>
											<option value="university-activity">University Activity</option>
											<option value="training">Training</option>
											</select>
										</div>
									</div>
									
									<div>
									<input type="checkbox" id="yup" name="yup" value="send" checked="true">Send a Notification<br>
									</div>
							    	</div>

								<!-- Progress Bar -->
								<div class="progress" style="display:none;">
									<div class="progress-bar" role="progressbar" aria-valuetransitiongoal="75" aria-valuenow="75" style="width: 0%;display:block;"></div>
								</div>
								<div>
									<button class="btn btn-danger" id="cancelUpload" style="display:none;">Cancel Upload</button>
								</div>
								<!-- Button (Double) -->
								<label class="control-label" for="submit"></label>
								<div class="controls">
									<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
									<input type="reset" class="btn btn-danger" />
								</div>
								
							</fieldset>
						</form>
						<h1><%= course.course_code %> - <%= course.name %></h1>
						<h3>Events</h3>
						<table class= "table">
							<thread>
								<tr>
									<th>#</th>
									<th>Event title</th>
									<th>Description</th>
									<th>Start date</th>
									<th>End date</th>
									<th>Type</th>
									<th>Action</th>
								</tr>
							</thread>
							<tbody>
								<% var i=1; %>
								<% events.forEach(function(event){%>
								<% if(event.course.name == course.name) {%>
								<tr class="material-row" id="<%= event.id %>">
									<td>
										<%= i %>
									</td>
									<td>
										<%= event.name %>
									</td>
									<td>
										<%= event.description %>
									</td>
									<td>
										<%= event.datetime_start.toUTCString() %>
									</td>
									<td>
										<%= event.datetime_end.toUTCString() %>
									</td>
									<td>
										<%= event.type %>
									</td>				
									<td>
										<button class="btn btn-danger deleteButton"
										value= "<%= event.id %>" name="<%= event.name %>">
										Delete</button>
									</td>				
								</tr>
								<% i++; %>
								<% } %>
								<% });%>
							</tbody>
						</table>
					</div>
					<% active = '' %>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>
