<%- block('courseIndex', ' <script src="/js/course/index.js"></script>') %>
<!-- Modal -->
<div class="modal fade" id="uploadResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Upload Result</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<% include ../nav %>
			<h3>
			Course Management
			</h3>
			<!-- Button trigger modal -->
			<% if(admin.type == 'Instructor') {%>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ecModal">
			  Add New Course
			</button>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saModal">
			  Add New Student
			</button>
			<% } %>
			<% if(admin.type == 'Admin'|| admin.type == 'Master') {%>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ncModal">
			  Add New Course
			</button>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#aaModal">
			  Add New Admin
			</button>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iaModal">
			  Add New Instructor
			</button>
			
			<% } %>
			
			<div class="tabbable" id="tabs-433253">
				<ul class="nav nav-tabs">
					<% var active = 'active'; %>
					<% courses.forEach(function(course){  %>
					<li class="<%= active %>" id="<%= course.id %>"><a href="#<%= course.name %>"  data-toggle="tab"><%= course.name %></a></li>
					<% active = '' %>
					<% }); %>
				</ul>
				<div class="tab-content">
					<% active = 'active'; %>
					<% var courseIndex = 0 ;%>
					<% courses.forEach(function(course){  %>
					<div class="tab-pane <%= active %>" id="<%= course.name %>">
						<form class="form-horizontal uploadForm" action="" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="course" value="<%= course.id %>" />
								<!-- File Button -->
								<div class="control-group">
									<label class="control-label" for="material">Upload Student List</label>
									<div class="controls">
										<input name="student_list" class="form-control" type="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
									</div>
								</div>
								<!-- Progress Bar -->
								<div class="progress" style="display:none;">
									<div class="progress-bar" role="progressbar" aria-valuetransitiongoal="75" aria-valuenow="75" style="width: 0%;display:block;"></div>
								</div>
								<div>
									<button class="btn btn-danger" id="cancelUpload" style="display:none;">Cancel Upload</button>
								</div>
								<!-- Button (Double) -->
								<label class="control-label" for="submit"></label>
								<div class="controls">
									<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
									<input type="reset" class="btn btn-danger" />
								</div>
								
							</fieldset>
						</form>
						<form class="form-horizontal addStudentForm" action="" method="post">
							<fieldset>
								<input type="hidden" name="course" value="<%= course.id %>" />
								<!-- File Button -->
								<div class="control-group">
									<label class="control-label" for="material">Add Student to Course (Single)</label>
									<div class="controls">
										<input name="id" class="form-control" type="text"  />
									</div>
								</div>
								<!-- Button (Double) -->
								<label class="control-label" for="submit"></label>
								<div class="controls">
									<input type="submit" id="submit" name="submit" value="Add" class="btn btn-success"/>
									<input type="reset" class="btn btn-danger" />
								</div>
								
							</fieldset>
						</form>
						<form class="form-horizontal uploadEForm" action="" method="post" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="course" value="<%= course.id %>" />
								<!-- File Button (Excel) -->
								<div class="control-group">
									<label class="control-label" for="material">Add Student List (xls)</label>
									<div class="controls">
										<input name="student_list" class="form-control" type="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
									</div>
								</div>
								<!-- Progress Bar -->
								<div class="progress" style="display:none;">
									<div class="progress-bar" role="progressbar" aria-valuetransitiongoal="75" aria-valuenow="75" style="width: 0%;display:block;"></div>
								</div>
								<div>
									<button class="btn btn-danger" id="cancelUpload" style="display:none;">Cancel Upload</button>
								</div>
								<!-- Button (Double) -->
								<label class="control-label" for="submit"></label>
								<div class="controls">
									<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
									<input type="reset" class="btn btn-danger" />
								</div>
								
							</fieldset>
						</form>
						<h1><%= course.course_code %> - <%= course.name %></h1>
						<h3>Enrolled Student <button class="btn btn-info" id="refreshButton">Refresh</button></h3>
						<table class="table student-table">
							<thead>
								<tr>
									<th>
										#
									</th>
									<th>
										ID
									</th>
									<th>
										Name
									</th>
									<th>
									Section
									</th>
									<th>
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i=0; i< students[courseIndex].length ; i++){ %>
								<% var student = students[courseIndex][i]; %>
								
								<tr class="student-row" id="<%= student.id %>">
									<td>
										<%= i+1 %>
									</td>
									<td>
										<%= student.user_id %>
									</td>
									<td>
										<%= student.firstname %> <%= student.lastname %>
									</td>
									<td>
										<%= student.section %>
									</td>
									<td>
										<button class="btn btn-danger deleteButton" value="<%= student.id %>" name="<%= student.firstname %> <%= student.lastname %>">Delete</button>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					<% active = '' %>
					<% courseIndex++; %>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>

<!--add existed course modal-->
<div class="modal fade" id="ecModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Add Course</h4>
						  
			  </div>
				<form class="form-horizontal addEcForm" action="" method="post">
					<fieldset>
					 <div class="modal-body">
						<div class="controls">
						<select id="newc" name="newc" class="form-control">
						<% active = 'active'; %>
						<% allc.forEach(function(course){  %>
						<option name="newc" class="<%= active %>" value="<%= course.id %>"><%= course.name %></option>
						<% active = '' %>
				 		<% }); %>
						</select>
						</div>
					</div>
						<div class="modal-footer">
						<label class="control-label" for="submit"></label>
						<div class="controls">
						<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
						<input type="reset" class="btn btn-danger" />
						</div>
						</div>
					</fieldset>
				</form>
			</div>
	</div>
</div>

<!--add new course modal-->
<div class="modal fade" id="ncModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Create Course</h4>
						  
			  </div>
				<form class="form-horizontal addNcForm" action="" method="post">
					<fieldset>
					 <div class="modal-body">
						<!-- course field -->
						<div class="panel-body">
							
							<div>
								<label for="course_code">course_code:</label>
								<div class="controls">
								<input type="text" id="course_code" name="course_code" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="name">Title:</label>
								<div class="controls">
								<input type="text" id="name" name="name" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="credit">Credit:</label>
								<div class="controls">
								   <input id="credit" name="credit" class="span2 form-control" type="text"/>
								</div>
							</div>

							<div>
								<label for="semester">Semester:</label>
								<div class="controls">
								  <input id="semester" name="semester" class="span2 form-control" type="text"/>
								</div>
							</div>

							<div>
								<label for="description">Description:</label>
								<div class="controls">
								  <input id="description" name="description" class="span2 form-control" type="text" />
								</div>
							</div>

							<div>
								<label for="year">Pick a year:</label>
								<div class="controls">
									<select id="year" name="year" class="form-control">
									<option value="2014">2014</option>
									<option value="2015">2015</option>
									<option value="2016">2016</option>
									</select>
								</div>
							</div>

						</div>
					</div>
						<div class="modal-footer">
						<label class="control-label" for="submit"></label>
						<div class="controls">
						<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
						<input type="reset" class="btn btn-danger" />
						</div>
						</div>
					</fieldset>
				</form>
			</div>
	</div>
</div>

<!--add new instructor modal-->
<div class="modal fade" id="iaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Create Instructor</h4>
						  
			  </div>
				<form class="form-horizontal instructorForm" action="" method="post">
					<fieldset>
					 <div class="modal-body">
						<!-- course field -->
						<div class="panel-body">
							<input type="hidden" name="userid" value="<%= iN %>" />
							<div>
								<label for="uname">Username:</label>
								<div class="controls">
								<input type="text" id="uname" name="uname" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="pass">Password:</label>
								<div class="controls">
								<input type="text" id="pass" name="pass" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="fname">First name:</label>
								<div class="controls">
								<input type="text" id="fname" name="fname" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="lname">Last name:</label>
								<div class="controls">
								<input type="text" id="lname" name="lname" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="gender">Pick a gender:</label>
								<div class="controls">
									<select id="gender" name="gender" class="form-control">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
									</select>
								</div>
							</div>

							<div>
								<label for="tel">Tel:</label>
								<div class="controls">
								   <input id="tel" name="tel" class="span2 form-control" type="text"/>
								</div>
							</div>

							<div>
								<label for="bdate">Birthday:</label>
								<div class="controls">
								  <input id="bdate" name="bdate" class="span2 form-control" type="date"/>
								</div>
							</div>

							<div>
								<label for="email">E-mail:</label>
								<div class="controls">
								  <input id="email" name="email" class="span2 form-control" type="text" />
								</div>
							</div>

						</div>
					</div>
						<div class="modal-footer">
						<label class="control-label" for="submit"></label>
						<div class="controls">
						<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
						<input type="reset" class="btn btn-danger" />
						</div>
						</div>
					</fieldset>
				</form>
			</div>
	</div>
</div>

<!--add new admin modal-->
<div class="modal fade" id="aaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Create Admin</h4>
						  
			  </div>
				<form class="form-horizontal adminForm" action="" method="post">
					<fieldset>
					 <div class="modal-body">
						<!-- course field -->
						<div class="panel-body">
							<input type="hidden" name="userid" value="<%= aN %>" />
							<div>
								<label for="uname">Username:</label>
								<div class="controls">
								<input type="text" id="uname" name="uname" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="pass">Password:</label>
								<div class="controls">
								<input type="text" id="pass" name="pass" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="fname">First name:</label>
								<div class="controls">
								<input type="text" id="fname" name="fname" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="lname">Last name:</label>
								<div class="controls">
								<input type="text" id="lname" name="lname" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="gender">Pick a gender:</label>
								<div class="controls">
									<select id="gender" name="gender" class="form-control">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
									</select>
								</div>
							</div>

							<div>
								<label for="tel">Tel:</label>
								<div class="controls">
								   <input id="tel" name="tel" class="span2 form-control" type="text"/>
								</div>
							</div>

							<div>
								<label for="bdate">Birthday:</label>
								<div class="controls">
								  <input id="bdate" name="bdate" class="span2 form-control" type="date"/>
								</div>
							</div>

							<div>
								<label for="email">E-mail:</label>
								<div class="controls">
								  <input id="email" name="email" class="span2 form-control" type="text" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="university">University *</label>
								<div class="controls">
									<select id="university" name="university" class="input-xlarge">
									<% universities.forEach(function(university){ %>
									<option value="<%= university.id %>"><%= university.name %></option>
										<% }) %>
									</select>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="faculty">Faculty *</label>
								<div class="controls">
									<select id="faculty" name="faculty" class="input-xlarge">
										<% faculties.forEach(function(faculty){ %>
									<option value="<%= faculty.id %>"><%= faculty.name %></option>
										<% }) %>
									</select>
								</div>
							</div>

						</div>
					</div>
						<div class="modal-footer">
						<label class="control-label" for="submit"></label>
						<div class="controls">
						<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
						<input type="reset" class="btn btn-danger" />
						</div>
						</div>
					</fieldset>
				</form>
			</div>
	</div>
</div>

<!--add new Student modal-->
<div class="modal fade" id="saModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Create Student</h4>
						  
			  </div>
				<form class="form-horizontal studentForm" action="" method="post">
					<fieldset>
					 <div class="modal-body">
						<!-- course field -->
						<div class="panel-body">
							<div>
								<label for="id">Student ID:</label>
								<div class="controls">
								<input type="text" id="id" name="id" class="form-control"/>
								</div>
							</div>


							<div>
								<label for="fname">First name:</label>
								<div class="controls">
								<input type="text" id="fname" name="fname" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="lname">Last name:</label>
								<div class="controls">
								<input type="text" id="lname" name="lname" class="form-control"/>
								</div>
							</div>

							<div>
								<label for="gender">Pick a gender:</label>
								<div class="controls">
									<select id="gender" name="gender" class="form-control">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
									</select>
								</div>
							</div>

							<div>
								<label for="section">Pick a section:</label>
								<div class="controls">
									<select id="section" name="section" class="form-control">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									</select>
								</div>
							</div>

						</div>
					</div>
						<div class="modal-footer">
						<label class="control-label" for="submit"></label>
						<div class="controls">
						<input type="submit" id="submit" name="submit" value="Upload" class="btn btn-success"/>
						<input type="reset" class="btn btn-danger" />
						</div>
						</div>
					</fieldset>
				</form>
			</div>
	</div>
</div>

